# 5.1 Print

In [ ]:
print('Ini Kelas Algoritma!')

In [ ]:
print('Aku Suka Dia')

In [ ]:
print("How we can see?")

In [ ]:
print('I love him so much')

In [ ]:
print('I don't know about that')

In [ ]:
print("I don't know about that")

In [ ]:
mahasiswi027 = 42
uang_di_dompet = 50000
print(mahasiswi027)
print(uang_di_dompet)
print(mahasiswi027*uang_di_dompet)

In [ ]:
nama_depan = 'Luh'
nama_tengah = ' Sukma'
nama_belakang = ' Mulyani'
print(nama_depan + nama_tengah + nama_belakang)

In [ ]:
pekerja = 20
gaji_bulanan = 2500000
print(pekerja*gaji_bulanan)

In [ ]:
nama = 'Sukma Mulyani '
status = "mahasiswi "
institusi = "Universitas Udayana "
print(nama + 'adalah ' + status + institusi)

# 5.2 Input

In [ ]:
nama = input('siapakah nama anda? ')
kegiatan = input("Apakah kegiatan anda sekarang ")
print('Semangat '+ kegiatan +' nya yaa, ' + nama + '!!!')

In [ ]:
nama = input("siapakah nama anda? ")
keadaan = input('bagaimana keadaan anda sekarang? ')
kegiatan = input('apa yang akan anda lakukan besok? ')
print('yuk bisa yuk '+ nama +' sekarang ' + keadaan + ' dulu, besok kita '+ kegiatan)

In [ ]:
nama = input('siapakah nama anda? ')
kelakuan = input('apa yang akan anda lakukan? ')
print('Tolong yaa '+ nama +' suud ' + kelakuan + ' ðŸ™ƒ')

# 5.3 Tipe Data Pada Python

In [ ]:
uang_di_dompet = input('Berapakah Jumlah uang di dompet kamu? ')
uang_di_bank = input('Berapakah jumlah uang kamu di Bank? ')
print('Total uang kamu adalah Rp ' + uang_di_dompet + uang_di_bank )

In [ ]:
uang_di_dompet = input('Berapakah jumlah uang di dompet kamu? ')
uang_di_bank = input('Berapakah jumlah uang kamu di Bank? ')
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print('Total uang anda adalah Rp '+ str(total_uang))

In [ ]:
type(uang_di_dompet)

In [ ]:
type(uang_di_bank)

In [ ]:
type(total_uang)

In [ ]:
bilangan_satu = input('Masukan bilangan pertama: ')
bilangan_kedua = input('Masukan bilangan kedua: ')
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print('Jumlah kedua bilangan adalah '+ str(jumlah))

In [ ]:
bilangan_satu = input('Masukan bilangan pertama: ')
bilangan_kedua = input('Masukan bilangan kedua: ')
jumlah = int(bilangan_satu) + float(bilangan_kedua)
print('Jumlah kedua bilangan adalah ' + str(jumlah))

In [ ]:
bilangan_satu = input('Masukan bilangan pertama: ')
bilangan_kedua = input('Masukan bilangan kedua: ')
pengurangan = float(bilangan_satu) - int(bilangan_kedua)
print('Hasil pengurangan kedua bilangan adalah ' + str(pengurangan))

In [ ]:
bilangan_satu = input('Masukan bilangan pertama: ')
bilangan_kedua = input('Masukan bilangan kedua: ')
pengurangan = int(bilangan_satu) - float(bilangan_kedua)
print('Hasil pengurangan kedua bilangan adalah ' + str(pengurangan))

# 5.4 Formatted String

In [ ]:
nama = "Vladimir"
pekerjaan = 'guru'
institusi = 'SD Pertiwi'
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi +".")

In [ ]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

In [ ]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

In [ ]:
nama = "Desi"
keadaan = "bosan"
tempat = "rumah"
print(nama + ' sangat ' + keadaan + ' berada di ' + tempat)

In [ ]:
print(f'{nama} sangat {keadaan} berada di {tempat}')

In [ ]:
nama_satu = 'Anna'
nama_dua = 'Natan'
tempat = 'pasar malam'
print(nama_satu + ' dan ' + nama_dua + ' akan pergi ke ' + tempat)

In [ ]:
print(f'{nama_satu} dan {nama_dua} akan pergi ke {tempat}')

In [ ]:
tempat = "Laos "
keterangan = " The Land Locked Country" 
print(tempat + 'diberi julukan' + keterangan)

In [ ]:
print(f'{tempat}diberi julukan{keterangan}')

# 5.5 Strings Index

In [ ]:
kelas = 'ini kelas algoritma'

In [ ]:
print(kelas[0:3])

In [ ]:
print(kelas[0:-1])

In [ ]:
print(kelas[5:-1])

In [ ]:
print(kelas[2:-1:3])

In [ ]:
print(kelas[:-3])

In [ ]:
print(kelas[1:])

In [ ]:
print(kelas[:])

In [ ]:
print(kelas[:4])

In [ ]:
kegiatan = 'fitri sedang makan siang di cafe santuy'

In [ ]:
print(kegiatan[3:4])

In [ ]:
print(kegiatan[:2])

In [ ]:
print(kegiatan[:])

In [ ]:
print(kegiatan[2:4:1])

In [ ]:
print(kegiatan[3:-1])

In [ ]:
judul = 'Wisata masa lalu'

In [ ]:
print(judul[:1])

In [ ]:
print(judul[:])

In [ ]:
print(judul[1:2])

In [ ]:
print(judul[0:3])

In [ ]:
print(judul[2:5])

In [ ]:
print(judul[2:3:1])

# 5.6 Srings Methods

In [ ]:
judul = 'Bali Surga Dunia'

In [ ]:
print(len(judul))

In [ ]:
judul.upper()

In [ ]:
judul.lower()

In [ ]:
judul.find('Surga')

In [ ]:
judul.find('bali')

In [ ]:
judul.replace('Bali', 'Indonesia')

In [ ]:
judul.replace('bali', 'Indonesia')

In [ ]:
print('bali' in judul)

In [ ]:
print('Bali' in judul)

In [ ]:
judul = " Bersusah-susah dahulu bersenang-senang kemudian"

In [ ]:
print(len(judul))

In [ ]:
judul.upper()

In [ ]:
judul.lower()

In [ ]:
judul.find('-susah')

In [ ]:
judul.find('bersusah')

In [ ]:
judul.replace(' -senang', ' kemudian ')

In [ ]:
judul.replace('kemudian', 'Susah')

In [ ]:
print('Senang' in judul)

In [ ]:
print('senang' in judul)

# 5.7 Operasi Matematika di Python

In [ ]:
print(2+3)

In [ ]:
print(2-3)

In [ ]:
print(2*3)

In [ ]:
print(7/3)

In [ ]:
print(7//3)

In [ ]:
print(7%3)

In [ ]:
print(2**3)

In [ ]:
x= 3
x+= 1 
print(x)

In [ ]:
x-=2
print(x)

In [ ]:
x*=3
print(x)

In [ ]:
x= 12
x**= 2
print(x)

In [ ]:
x= 364
x/= 12
print(x)

In [ ]:
x= 3094
x//= 3
print(x)

In [ ]:
print(3456//24)

# 5.8 Operator Perbandingan di Python

In [ ]:
x = 3>2
print(x)

In [ ]:
x = 2>3
print(x)

In [ ]:
x = 2<3
print(x)

In [ ]:
x = 3 >= 2
print(x)

In [ ]:
x = 2 <= 3
print(x)

In [ ]:
x = 3 == 3
print(x)

In [ ]:
x = 3 != 4
print(x

In [ ]:
x = 3<2
print(x)

In [ ]:
x = 2 >= 3
print(x)

In [ ]:
x = 3 <= 2
print(x)

In [ ]:
x = 3 == 4
print(x)

In [ ]:
x = 3 != 3
print(x)

In [ ]:
x = 14 < 3
print(x)

In [ ]:
x = 1 <= 4
print(x)

In [ ]:
x = 4 < -1
print(x)

In [ ]:
x = -12 < -2
print(x)

In [ ]:
x = -12 == 12
print(x)

In [ ]:
x = -4 != -4
print(x)

In [ ]:
x = -9 != 9
print(x)

In [ ]:
x = 2*3
y = 1*2
print(x > y)

In [ ]:
x = 9*2
y = 10/5
z = 2**3
print(x > y < z)

In [ ]:
x = 8-2
y = 2*4
print(x <= y)

In [ ]:
a = 2+4
b = 9-3
print(a >= b)

# 5.9 Operator Logika di Python

In [ ]:
buah_manggis = 10
buah_mangga = 15
print(buah_manggis > 8 and buah_mangga < 20)

In [ ]:
print(buah_manggis < 8 or buah_mangga < 20)

In [ ]:
print(buah_manggis < 8 or buah_mangga > 20)

In [ ]:
print(not (buah_manggis <8 or buah_mangga > 20))

In [ ]:
buku_tulis = 5
pulpen = 12
print(buku_tulis > 3 and pulpen <15)

In [ ]:
print(buku_tulis < 2 or pulpen <15)

In [ ]:
print(buku_tulis < 2 or pulpen > 15)

In [ ]:
print(not (buku_tulis < 1 or pulpen > 18))

In [ ]:
uang_saku = 100000
pengeluaran = 57000
print(uang_saku > 20000 and pengeluaran < 96000)

In [ ]:
print(uang_saku >30000 or pengeluaran > 200000)

In [ ]:
print(uang_saku >30000 and pengeluaran > 200000)

# 5.10 Operator if di Python

In [ ]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 85:
    print("Anda mendapatkan nilai A")
    print("Bagus bangett, congrats!!")
if nilai < 85 and nilai >= 75:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan lagi prestasimu!!")
if nilai < 65 and nilai < 75:
    print("Anda mendapatkan nilai C")
    print("Lebih baik lagi yaa")
if nilai >= 55 and nilai < 65:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan ya")
if nilai < 55:
    print("Anda mendapat nilai E")
    print("Sampai jumpa tahun depan bestii")

In [ ]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 87:
    print("Anda mendapatkan nilai A")
    print("Keren bangett, selamat yaa!!")

In [ ]:
tinggi = float(input("Berapakah tinggi kamu? "))
cm_atau_inch = input("Tingginya dalam cm atau inch? ")

if cm_atau_inch.upper() == ' CM' :
    tinggi = tinggi*0.393701
    print("Tinggi kamu adalah " + str(tinggi) + ' inch')
elif cm_atau_inch.upper() == 'INCH' :
    tinggi = tinggi/0.393701
    print(f"Tinggi kamu adalah {tinggi} cm")

In [ ]:
print(f"Tinggi kamu adalah {tinggi} cm")

# 5.11 While loop

In [ ]:
a = 0
while a < 5:
    print("Angka " + str(a)+" masih dibawah 5")
    a += 1

In [ ]:
a = 0
while a < 5:
    print(a * '*')
    a += 1

In [ ]:
a = 0
while a < 10:
    print(a * " * ")
    a += 2

In [ ]:
a = 1
while a <= 4:
    print(a*4)
    a = a + 1

In [ ]:
a = 1
while a < 7:
    print(a * "*")
    a += 1

# 5.12 List di Python